{% extends 'admin/index.html.twig' %}
{% block title %}Restaurant
{% endblock %}

{% block adminContent %}
	<div style="min-height: 70vh;">
		<h1 style="margin: 50px 0 40px 0;text-align: center;">Restaurant</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Owner</th>
					<td>{{ restaurant.owner }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ restaurant.name }}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{{ restaurant.address }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ restaurant.description }}</td>
				</tr>
				<tr>
					<th>Image</th>
					<td>{{ restaurant.image }}</td>
				</tr>
			</tbody>
		</table>

		<div style="display: flex">
			<a class="btn btn-primary" href="{{ path('app_admin_restaurant_crud_edit', {'id': restaurant.id}) }}">edit</a>

			<span style="margin: 0 0 0 4px">{{ include('admin/restaurant_crud/_delete_form.html.twig') }}</span>
		</div>
	</div>
{% endblock %}
